In [173]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sms-spam-collection-dataset/spam.csv

In [174]:
df= pd.read_csv('/kaggle/input/sms-spam-collection-dataset/spam.csv',encoding= 'latin1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [175]:
df= df[['v1','v2']]
df= df.rename(columns={'v1': 'Target','v2': 'email'})
df

     Target                                              email
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [176]:
df['Target'].value_counts()

ham     4825
spam     747
Name: Target, dtype: int64

In [177]:
import string
import nltk 
import sklearn
import string
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem import PorterStemmer
from textblob import Word
from sklearn.model_selection import train_test_split
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.metrics import classification_report

In [178]:


stop = set(stopwords.words('english'))
exclude = set(string.punctuation) 
st = PorterStemmer()
lemma = WordNetLemmatizer()
def clean(doc):
    stop_free = " ".join([word for word in doc.lower().split() if word not in stop])
    punc_free = ''.join(word for word in stop_free if word not in exclude)
    stemmed= " ".join([st.stem(word) for word in punc_free.split()])
    normalized = " ".join(lemma.lemmatize(word) for word in stemmed.split())
    return normalized

In [179]:

df['email']=df['email'].apply(clean)
df

     Target                                              email
0       ham  go jurong point crazi avail bugi n great world...
1       ham                              ok lar joke wif u oni
2      spam  free entri 2 wkli comp win fa cup final tkt 21...
3       ham                u dun say earli hor u c alreadi say
4       ham               nah think goe usf live around though
...     ...                                                ...
5567   spam  2nd time tri 2 contact u u å£750 pound prize 2...
5568    ham                            ì b go esplanad fr home
5569    ham                       piti mood that soani suggest
5570    ham  guy bitch act like id interest buy someth el n...
5571    ham                                     rofl true name

[5572 rows x 2 columns]

In [180]:
train_x, valid_x, train_y, valid_y = train_test_split(df['email'], df['Target'],test_size=0.3,stratify=df['Target'])

# TFIDF feature generation for a maximum of 5000 features

encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

tfidf_vect = TfidfVectorizer(analyzer='word', token_pattern=r'\w{1,}', max_features=5000)
tfidf_vect.fit(df['email'])
xtrain_tfidf =  tfidf_vect.transform(train_x)
xvalid_tfidf =  tfidf_vect.transform(valid_x)

xtrain_tfidf.data

array([0.18928379, 0.29503239, 0.29971031, ..., 0.28181597, 0.22528711,
       0.26902381])

In [181]:
def train_model(classifier, feature_vector_train, label, feature_vector_valid, is_neural_net=False):
    # fit the training dataset on the classifier
    classifier.fit(feature_vector_train, label)
    # predict the labels on validation dataset
    predictions = classifier.predict(feature_vector_valid)
    return metrics.roc_auc_score(predictions, valid_y)

# Naive Bayes trainig
auc = train_model(naive_bayes.MultinomialNB(alpha=0.2), xtrain_tfidf, train_y, xvalid_tfidf)
print ("ROC AUC SCORE on test data: ", auc)

ROC AUC SCORE on test data:  0.9893547219713803

In [182]:

# Linear Classifier on Word Level TF IDF Vectors
auc = train_model(linear_model.LogisticRegression(), xtrain_tfidf, train_y, xvalid_tfidf)
print ("ROC AUC SCORE on test data: ", auc)

ROC AUC SCORE on test data:  0.9720280332895312